.asistencia-container {
  max-width: 1024px;
  margin: 40px auto;
  padding: 30px;
  background: #1e1e1e;
  color: #fff;
  border: 2px solid #00c3ff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 212, 255, .08);
}

.asistencia-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* ---------- TABLA ---------- */
.tabla-estudiantes {
  width: 100%;
  border-collapse: collapse;
}

.tabla-estudiantes th,
.tabla-estudiantes td {
  padding: 10px;
  border: 1px solid #444;
  text-align: center;
  background: #2a2a2a;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 8px;
  background: #2a2a2a;
  color: #fff;
  border: 1px solid #666;
  border-radius: 6px;
}

